<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<!--使用X-UA-Compatible来设置IE浏览器兼容模式 最新的渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--
       viewport表示用户是否可以缩放页面；
       width指定视区的逻辑宽度；
       device-width指示视区宽度应为设备的屏幕宽度；
       initial-scale指令用于设置Web页面的初始缩放比例
       initial-scale=1则将显示未经缩放的Web文档
    -->
		<title>活动详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<style>
			#bg {
            background-size: cover;
        }
        #end {
            font-size: 18px;
            text-align: center;
            background-color: darkgray;
        }
    </style>
	</head>
	<body>
		<div id="bg" class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Hey! TeamME!</h1>
			</div>
		</div>
		
		<br>


		<div id="app" class="container">
			<div class="container">
				<div class="btn-group btn-group-lg">
					<button type="button" class="btn btn-primary" v-on:click="mainIndex">主界面</button>
					<button type="button" class="btn btn-primary" v-on:click="personalRoom">个人主页</button>
					<button type="button" class="btn btn-primary" v-on:click="personalMessage">个人通知</button>
				</div class="btn-group">
			</div>
			<br>
			<h2 class="text-primary">活动详情</h2>
			<br>
			<hr>
			<br>
			<div class="row">
				<div class="col-md-4">
					<img src="../../img/2.jpg" class="rounded-circle img-fluid">
				</div>
				<div class="col-md-5">
					<h1 align="center">{{team.activityName}}</h1>
					<p align="center">
						<br>
						<div align="center">
							<button type="button" class="btn btn-success btn-lg" v-if="team.examine == '0'" v-on:click="joinTeam(team.activityState)">加入</button>
						</div>
						<div align="center">
							<button type="button" class="btn btn-success btn-lg" v-if="team.examine == '1'" v-on:click="gotoCheck(team.activityState)">申请加入</button>
						</div>
						<br>
						<h4 align="center" class="text-success" v-if="team.examine == '0'">不需要审核</h4>
						<h4 align="center" class="text-warning" v-if="team.examine == '1'">需要审核</h4>
						<br>
						<h4 align="center" class="text-danger" v-if="team.activityState == '0'">未开始</h4>
						<h4 align="center" class="text-info" v-if="team.activityState == '1'">进行中</h4>
						<h4 align="center" class="text-warning" v-if="team.activityState == '2'">已结束</h4>
					</p>
					<hr>
					<p class="lead" align="center">{{team.activityDescription}}</p>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<h2 class="text-primary">基本信息</h2>
			<br>
			<hr>
			<br>
			<div class="col-md-12">
				<ul class="list-group">
					<li class="list-group-item">负责人：{{team.userName}}</li>
					<li class="list-group-item">总名额：{{team.totalNum}}</li>
					<li class="list-group-item">剩余名额：{{team.remainNum}}</li>
					<li class="list-group-item">截止时间：{{team.endTime}}</li>
				</ul>
			</div>
			<div class="container">
				<br>
				<hr>
				<br>
				<h2 class="text-primary">详细要求</h2>
				<br>
				<hr>
				<br>
				<div class="col-md-12">
					<ul class="list-group">
						<li class="list-group-item">{{team.request}}</li>
					</ul>
				</div>
			</div>
			<footer id="end" class="mt-3 p-3">
				<p class="text-white">两天精通vue <a href="interface.html">返回首页</a></p>
			</footer>
		</div>
	</body>
	<script src="../../js/vue.js"></script>
	<script src="../../js/axios.min.js"></script>
	<script src="../../js/const.js"></script>
	<script>
		var config = {
			"el": "#app",
			"data": {
				"team": {},
				"currentUserId": ""
			},
			"methods": {
				"joinTeam": function(state) {
					if (this.currentUserId == '') {
						window.alert("请先登录")
					} else {
						if (state == 2) {
							window.alert("已结束的活动，不可再参加")
						} else {
							if (this.team.remainNum == '0') {
								window.alert("该组队人数已满，无法加入!")
							} else {
								var url1 = serverUrl + "/userTeamRelation/insert?" +
									"userId=" + this.team.userId +
									"&teamId=" + this.team.teamId
								axios.get(url1)
									.then(function(response) {})
									.catch()

								var url2 = serverUrl + "/team/update?" +
									"teamId=" + this.team.teamId +
									"&remainNum=" + (this.team.remainNum - 1)
								axios.get(url2)
									.then(function(response) {
										console.log(response.data.msg)
									}).catch()

								var url3 = serverUrl + "/message/insert?" +
									"handleState=" + '0' +
									"&sendUserId=" + this.currentUserId +
									"&receiveUserId=" + this.team.userId +
									"&teamId=" + this.team.teamId +
									"&examine=" + '1'
								console.log(url3)
								axios.get(url3)
									.then(function(response) {
										console.log(response.data.msg)
									})
									.catch()
								console.log(this.team.remainNum)
								var url4 = serverUrl + "/userTeamRelation/insert?" +
									"teamId=" + this.team.teamId +
									"&userId=" + this.currentUserId
								console.log(this.team)
								console.log(url4)
								axios.get(url4)
									.then(function(response) {
										if (response.data.state == 0) {
											window.alert("加入成功")
										} else {
											window.alert("加入队伍失败")
										}
									})
									.catch()


							}
						}
					}
				},
				"gotoCheck": function(state) {
					if (this.currentUserId == '') {
						window.alert("请先登录")
					} else {
						if (state == 2) {
							window.alert("已结束的活动，不可再参加")
						} else {
							if (this.team.remainNum == '0') {
								window.alert("该组队人数已满，无法加入!")
							} else {
								var url = serverUrl + "/message/insert?" +
									"handleState=" + '0' +
									"&sendUserId=" + this.currentUserId +
									"&receiveUserId=" + this.team.userId +
									"&teamId=" + this.team.teamId +
									"&examine=" + '1'
								console.log(url)
								axios.get(url)
									.then(function(response) {
										console.log(response.data.msg)
										window.alert("申请已提交，请等待审核")
									})
									.catch()
							}

						}
					}
				},
				"mainIndex": function() {
					var para = location.search.split("&")
					// var p = para[1].split("=")[1]
					console.log(para)
					if (para[1] == null) {

						location.href = "TeamIndex.html"
					} else {
						location.href = "TeamIndex.html?id=" + para[1].split("=")[1]
					}
				},
				"personalRoom": function() {
					var para = location.search.split("&")
					// var p = para[1].split("=")[1]
					console.log(para)
					if (para[1] == null) {
						window.alert("请先登录，即将前往登录界面！")
						location.href = "login.html"
					} else {
						location.href = "UserInfo.html?userId=" + para[1].split("=")[1]
					}
				},
				"personalMessage": function() {
					var para = location.search.split("&")
					// var p = para[1].split("=")[1]
					console.log(para)
					if (para[1] == null) {
						window.alert("请先登录，即将前往登录界面！")
						location.href = "login.html"
					} else {
						location.href = "message.html?receiveUserId=" + para[1].split("=")[1]
					}
				}

			},
			"mounted": function() {
				//itemDetail.heml?id=1
				var p = location.search.split("&") //?id=1
				console.log(p)
				var teamId = p[0].split("=")[1]
				console.log(teamId)
				if (p[1] == null) {
					this.currentUserId = ""
					console.log(this.currentUserId)
				} else {
					this.currentUserId = p[1].split("=")[1]
					console.log(this.currentUserId)
				}


				//联网
				var url = serverUrl + "/team/selectById?id=" + teamId
				axios.get(url)
					.then(function(response) {
						var serverResult = response.data
						var team = serverResult.data
						this.vue.team = team
						console.log(team)
					})
					.catch()
			}
		}

		var vue = new Vue(config)
	</script>
</html>
